<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body id="home-page">
    <h1><%= title %></h1>
    
     
    <a class="link" href="/destinations/index">Show All Destinations</a>
    <a class="link" href="/destinations/new">Create New Entry</a>


    <!-- <form action="/destinations/index" method="GET">
      <button type="submit">Show All Destinations</button>

      <form action="/destinations/new" method="GET">
        <button type="submit">Create New Destination</button>
    </form> -->

  </body>
</html>
