<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Diary <%= title %></p>
    <form action="/destinations" method="GET">
      <button type="submit">Show All Destinations</button>

      <form action="/new" method="GET">
        <button type="submit">Create New Destination</button>
    </form>

  </body>
</html>
