

  /* background-color: aquamarine; */
  /* padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF; */


/* Specific styles for the home page */
#home-page {
  background-color: #b18fb07b;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
}

#home-page h1 {
  color: #1e472b;
  font-size: 80px;
  font-weight: 100;
  margin-bottom: 80px;
  font-stretch: 15%;
  letter-spacing: 7px;
  text-align: center;
}

#home-page .link {
  color: #1e472b;
  font-size: 30px;
  letter-spacing: 3px;
  
  display: block;
  text-align: center;
  margin-bottom: 10px;
  text-decoration: none;
}

.row {
  background-color: rgba(250, 235, 215, 0.088); 
}


h2 {
  font-size: 50px;
  font-weight: 100;
  margin-bottom: 40px;
  font-stretch: 15%;
  letter-spacing: 5px;
  text-align: center;
}


.card {
  background-color: rgba(250, 235, 215, 0.178);
  border: 1px solid #ccc;
  height: 300px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  align-items: center;
  overflow: hidden;
}

.card-title {
  letter-spacing: 5px;
  text-align: center;
  font-weight: 100;
  font-size: 2rem;
  margin-bottom: 0.1rem;
}

.card-text {
  letter-spacing: 5px;
  text-align: center;
  font-size: 2rem;
  color: #888;
}

.card-link {
  text-decoration: none;
  color: #333;
  font-weight: 100;
}
.card-subtitle {
  letter-spacing: 5px;
  font-weight: 100;
  text-align: center;
  font-size: 1.2rem;
  color: #888;
}

.card-body {
  display: flex;
  flex-direction: column;
  padding: 4rem;
  justify-content: space-between;
}

.btn.btn-primary {
  margin-top: 0.5rem;
  padding: 0.2rem 0.2rem;
  border-radius: 6px;
  border: none;
  background-color: #b18fb097;
  color: #fbfbfb;
  font-size: 1rem;
  letter-spacing: 2px;
  font-weight: 100;

}

.btn.btn-secondary {
  margin-top: 0.5rem;
  padding: 0.2rem 0.2rem;
  border-radius: 6px;
  border: none;
  background-color: #b18fb097;
  color: #fbfbfb;
  font-size: 1rem;
  letter-spacing: 2px;
  font-weight: 100;

}

.form-label {
  text-align: center;
  font-size: 1.5rem;
  letter-spacing: 2px;
  font-weight: 100;
  margin-bottom: 0.5rem;
}

.btn.btn-create {
 margin-top: 0.5rem;
  padding: 0.2rem 0.2rem;
  border-radius: 6px;
  border: none;
  background-color: #b18fb097;
  color: #fbfbfb;
  font-size: 1rem;
  letter-spacing: 2px;
  font-weight: 100;

}

.destination-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}

.edit-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}

.edit-container {
  background-color: rgba(250, 235, 215, 0.144);
  /* border: 1px solid #ccc; */
  padding: 20px;
  height: 300px;
  /* border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
  overflow: hidden;
} 

/* .form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

} */

.col-md-6 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.detail-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 1rem;
}

h3 {
 font-weight: 100;
 text-align: center;
 padding: 1rem;
}

.btn.btn-edit {
  
  padding: 0.2rem 0.2rem;
  border-radius: 6px;
  border: none;
  background-color: #b18fb097;
  color: #fbfbfb;
  font-size: 1rem;
  letter-spacing: 2px;
  font-weight: 100;
}

.edit-container {
  background-color: rgba(250, 235, 215, 0.144);
  /* border: 1px solid #ccc; */
  padding: 20px;
  height: 1000px;
  /* border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
  /* overflow: hidden; */
}

.btn.btn-update {
  justify-content: center;
  margin-top: 0.5rem;
  padding: 0.2rem 0.2rem;
  border-radius: 6px;
  border: none;
  background-color: #b18fb097;
  color: #fbfbfb;
  font-size: 1rem;
  letter-spacing: 2px;
  font-weight: 100;
}

.btn.btn-delete {
  margin-top: 0.5rem;
  padding: 0.2rem 0.2rem ;
  border-radius: 6px;
  border: none;
  background-color: #b18fb097;
  color: #fbfbfb;
  font-size: 1rem;
  letter-spacing: 2px;
  font-weight: 100;
}

.form-group {
  font-weight: 100;
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}